@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VALORANT";
    src: url("/public/fonts/ValorantFont.ttf")
}

@font-face {
    font-family: "ROBOTO";
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap)
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF4763;
}

/* CUSTOM BACKGROUND */
body {
    min-height: 100vh;
    background: linear-gradient(11.58deg, rgba(171, 58, 173, 0.42) 8.5%, rgba(22, 33, 48, 0) 67.72%), #162130;
}

@layer components {
    .bg-card-vava {
        background: linear-gradient(0deg, rgba(22, 33, 48, 0.9) 0%, rgba(2, 2, 2, 0) 100%), url(https://raw.githubusercontent.com/NathanQSilva/skinsva/master/public/assets/imagens/bg-card.jpg);
        background-size: cover;
    }
}

@layer buttonForm{
    .buttonForm {
        border-color: #FF4763;
        color: #fff;
        box-shadow: 0 0 40px 40px #FF4763 inset, 0 0 0 0 #FF4763;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;

        width: 70%;
        height: 40px;
    }
    .buttonForm:hover {
        box-shadow: 0 0 10px 0 #FF4763 inset, 0 0 10px 4px #FF4763;
    }
}

@layer buttonFormGreen{
    .buttonFormGreen {
        border-color: #059C46;
        color: #fff;
        box-shadow: 0 0 40px 40px #059C46 inset, 0 0 0 0 #059C46;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;

        width: 70%;
        height: 40px;
    }
}


/* Exemplo CUSTOM
@layer components {
    .bg-image-vava {
        Estilo que quiser aqui  
        background: linear-gradient(0deg, rgba(22, 33, 48, 0.9) 0%, rgba(2, 2, 2, 0) 100%), url(https://www.xtrafondos.com/descargar.php?id=5406&resolucion=3840x2160);    
    }
}
*/