@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VALORANT";
    src: url("/public/fonts/ValorantFont.ttf")
}

@layer components {
    .bg-image-vava {
        background: linear-gradient(0deg, rgba(22, 33, 48, 0.9) 0%, rgba(2, 2, 2, 0) 100%), url(https://www.xtrafondos.com/descargar.php?id=5406&resolucion=3840x2160);
    }
}

body {
    min-height: 100vh;
    background: linear-gradient(11.58deg, rgba(171, 58, 173, 0.42) 8.5%, rgba(22, 33, 48, 0) 67.72%), #162130;
}